.accordion {
    &-item {
      border: 1px solid $color-secondary;
      background-color: $color-primary;
      margin-bottom: $spacing-xs;
    }
  
    &-button {
      background-color: $color-primary;
      color: $color-secondary;
      padding: $spacing-md;
      width: 100%;
      text-align: left;
      border: none;
  
      &:not(.collapsed) {
        background-color: $color-primary;
        color: $color-secondary;
      }
  
      &:focus {
        box-shadow: none;
      }
    }
  
    &-body {
      background-color: $color-primary;
      color: $color-secondary;
      padding: $spacing-md;
    }
  }